@import "../../utils/_exports.scss";

.swiper {
  height: 100vh;
}

.container {
  height: 100%;
  
  .container-content {
    padding: 20rpx;
    
    image {
      width: 100%;
      height: 472rpx;
      vertical-align: top;
    }
  }
}

.meta-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 27rpx;
}

.meta {
  margin-top: 54rpx;
  
  .desc {
    color: $colorDesc;
    font-size: 30rpx;
    font-weight: 500;
    line-height: 1.5;
  }
  
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 57rpx;
    color: $colorInfo;
    font-size: 24rpx;
    
    .nickname {
      margin: 0 auto 0 13rpx;
    }
    .like, .share {
      image {
        vertical-align: middle;
        margin-right: 13rpx;
      }
    }
    .like {
      margin-right: 80rpx;
      
      image {
        height: 27rpx;
        width: 30rpx;
      }
    }
    .share {
      margin: 0;
      padding: 0;
      font-size: inherit;
      line-height: inherit;
      background: none;
      color: inherit;
      overflow: visible;

      &::after {
        display: none;
      }
      
      image {
        width: 28rpx;
        height: 29rpx;
      }
    }
  }
}

.comments-wrapper {
  margin-top: 20rpx;
  padding: 0 4rpx;
  
  .comments {
    margin-top: 20rpx;
  }
  
  .comment {
    margin-bottom: 33rpx;
    font-size: 28rpx;
    font-weight: 500;
    
    &:last-of-type {
      margin-bottom: 0;
    }
    .floor {
      margin-right: 20rpx;
      color: $colorPrimary;
      font-weight: bold;
    }
  }
}

@define-extend commentInput {
  display: inline-block;
  width: 650rpx;
  height: 60rpx;
  line-height: 60rpx;
  padding: 0 20rpx;
  background: $colorInputBg;
  font-size: 30rpx;
  font-weight: 500;
  color: $colorGrey1;
  border: 1px $colorBorder solid;
  border-radius: 4rpx;
  transition: all .4s;
}

.comment-btn-wrapper {
  height: 60rpx;
  width: 100%;
  margin-top: 6rpx;
  
  text {
    @extend commentInput;
  }
}

.form-layout {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  
  &.show {
    pointer-events: auto;
  
    .comment-form {
      transform: translateY(0);
    }
  }
}

.comment-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100rpx;
  padding: 20rpx 51rpx;
  background: $colorFontDay;
  border-top: 1px $colorBorder solid;
  transform: translateY(100%);
  transition: transform .3s;
  
  input {
    @extend commentInput;
    vertical-align: top;
  }
}