@import "../../utils/_exports.scss";

.album-card {
  margin: 58rpx auto;
  width: 600rpx;
  background: #fff;
  box-shadow: 0 0  30rpx 0rpx rgba(0, 0, 0, .18);
  text-align: center;
}

.header {
  padding: 49rpx 0 38rpx;
  
  .title {
    font-size: 48rpx;
    font-weight: bold;
    color: $colorPrimary;
  }
  .desc {
    margin-top: 34rpx;
    font-size: 30rpx;
    color: $colorGrey1;
    font-weight: 500;
  }
  .number {
    margin-top: 33rpx;
    font-size: 28rpx;
    color: $colorGrey1;
    font-weight: 500;
  
    &::before, &::after {
      content: ' - '
    }
  }
}

.cover {
  width: 100%;
  height: 450rpx;
  image {
    width: 100%;
    height: 100%;
  }
}

.calendar {
  height: 146rpx;
  padding: 0 22rpx;
  background: $colorPrimary;
  text-align: left;
  color: $colorFontMonth;
  
  .day {
    display: inline-block;
    line-height: 146rpx;
    font-size: 80rpx;
    font-weight: bold;
    color: $colorFontDay;
  }
  .date {
    display: inline-block;
    font-size: 28rpx;
    padding-left: 5rpx;
    vertical-align: baseline;
    .month {
      padding-left: 2rpx;
    }
    .lunar {
    }
  }
}
.swiper {
  height: 1000rpx;
}

.pagination {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  color: $colorFontPage;
  
  text {
    border-bottom: 4rpx solid $colorFontPage;
    letter-spacing: 6rpx;
  }
}