$colorPrimary: #c7ae9e;
$colorGrey1: #7e7e7e;

// index
$colorFontMonth: #e8dfd9;
$colorFontPage: #afafaf;
$colorFontDay: #f4f0ed;

// picture
$colorComment: #303030;
$colorDesc: #434343;
$colorInfo: #7b7b7b;
$colorBorder: #dedede;
$colorInputBg: #fafafa;
