$colorPrimary: #947969;
$colorGrey1: #7e7e7e;

$colorFontMonth: #e8dfd9;
$colorFontPage: #afafaf;
$colorFontDay: #f4f0ed;

$colorComment: #303030;
$colorDesc: #434343;
$colorInfo: #7b7b7b;
$colorBorder: #dedede;
$colorInputBg: #fafafa;
